<a href="https://colab.research.google.com/github/ronnyboi/Data_Analytics/blob/main/Program%202%3A%20Data%20Preprocessing/Ron_Program2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Program 2: Data Preprocessing

Apply different filters (Symmetric & Asymmetric, Median & Mean and Exponential filters). Apply Data transformation (Minmax and MuSigma) on the filtered data. Select numeric dataset of your choice. Application of filtering can be ignored on the categorical columns.

The dataset is taken from https://www.kaggle.com/gregorut/videogamesales?select=vgsales.csv

Importing the csv file

In [ ]:
import pandas as pd
df = pd.read_csv('vgsales.csv')
df.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [ ]:
df.describe()

               Rank          Year  ...   Other_Sales  Global_Sales
count  16598.000000  16327.000000  ...  16598.000000  16598.000000
mean    8300.605254   2006.406443  ...      0.048063      0.537441
std     4791.853933      5.828981  ...      0.188588      1.555028
min        1.000000   1980.000000  ...      0.000000      0.010000
25%     4151.250000   2003.000000  ...      0.000000      0.060000
50%     8300.500000   2007.000000  ...      0.010000      0.170000
75%    12449.750000   2010.000000  ...      0.040000      0.470000
max    16600.000000   2020.000000  ...     10.570000     82.740000

[8 rows x 7 columns]

# **Applying Filters**

Applying Asymmetric mean

In [ ]:
def asymMean(df,col,q):
    n=len(df[col])
    y=[]
    for k in range(n):
        if k-q+1<0:
            y.append(df[col][k])
            continue
        else:
            l=int(k-q+1)
            total=0
            for i in range(l,k+1):
                total+=df[col][i]
            mean=total/q
            y.append(mean)
    print(pd.DataFrame(y))

In [ ]:
asymMean(df,'Global_Sales',3)

               0
0      82.740000
1      40.240000
2      52.933333
3      36.353333
4      33.396667
...          ...
16593   0.010000
16594   0.010000
16595   0.010000
16596   0.010000
16597   0.010000

[16598 rows x 1 columns]

In [ ]:
asymMean(df,'NA_Sales',3)

               0
0      41.490000
1      29.080000
2      28.806667
3      20.226667
4      14.290000
...          ...
16593   0.010000
16594   0.010000
16595   0.006667
16596   0.003333
16597   0.003333

[16598 rows x 1 columns]

In [ ]:
asymMean(df,'EU_Sales',3)

               0
0      29.020000
1       3.580000
2      15.160000
3       9.156667
4      10.926667
...          ...
16593   0.000000
16594   0.000000
16595   0.000000
16596   0.003333
16597   0.003333

[16598 rows x 1 columns]

In [ ]:
asymMean(df,'JP_Sales',3)

              0
0      3.770000
1      6.810000
2      4.790000
3      4.626667
4      5.763333
...         ...
16593  0.000000
16594  0.000000
16595  0.000000
16596  0.000000
16597  0.000000

[16598 rows x 1 columns]

Applying asymmetric median

In [ ]:
def asymMedian(df,col,q):
    n=len(df[col])
    y=[]
    for k in range(n):
        if k-q+1<0:
            y.append(df[col][k])
            continue
        else:
            l=int(k-q+1)
            vals=[]
            for i in range(l,k+1):
                vals.append(df[col][i])
            middle=len(vals)//2
            mid=sorted(vals)[middle]
            y.append(mid)
    print(pd.DataFrame(y))

In [ ]:
asymMedian(df,'Global_Sales',3)

           0
0      82.74
1      40.24
2      40.24
3      35.82
4      33.00
...      ...
16593   0.01
16594   0.01
16595   0.01
16596   0.01
16597   0.01

[16598 rows x 1 columns]

In [ ]:
asymMedian(df,'NA_Sales',3)

           0
0      41.49
1      29.08
2      29.08
3      15.85
4      15.75
...      ...
16593   0.01
16594   0.01
16595   0.01
16596   0.00
16597   0.00

[16598 rows x 1 columns]

In [ ]:
asymMedian(df,'EU_Sales',3)

           0
0      29.02
1       3.58
2      12.88
3      11.01
4      11.01
...      ...
16593   0.00
16594   0.00
16595   0.00
16596   0.00
16597   0.00

[16598 rows x 1 columns]

In [ ]:
asymMedian(df,'JP_Sales',3)

          0
0      3.77
1      6.81
2      3.79
3      3.79
4      3.79
...     ...
16593  0.00
16594  0.00
16595  0.00
16596  0.00
16597  0.00

[16598 rows x 1 columns]

Applying Symmetric mean

In [ ]:
def symMean(df,col,q):
    n=len(df[col])
    y=[]
    for k in range(n):
        if k-((q-1)//2)<0:
            y.append(df[col][k])
            continue
        elif k+((q-1)//2)>=n:
            y.append(df[col][k])
            continue
        else:
            l=int(k-((q-1)/2))
            u=int(k+((q-1)/2))
            total=0
            for i in range(l,u+1):
                total+=df[col][i]
            mean=total/q
            y.append(mean)
    print(pd.DataFrame(y))

In [ ]:
symMean(df,'Global_Sales',3)

               0
0      82.740000
1      52.933333
2      36.353333
3      33.396667
4      31.543333
...          ...
16593   0.010000
16594   0.010000
16595   0.010000
16596   0.010000
16597   0.010000

[16598 rows x 1 columns]

In [ ]:
symMean(df,'NA_Sales',3)

               0
0      41.490000
1      28.806667
2      20.226667
3      14.290000
4      16.740000
...          ...
16593   0.010000
16594   0.006667
16595   0.003333
16596   0.003333
16597   0.010000

[16598 rows x 1 columns]

In [ ]:
symMean(df,'EU_Sales',3)

               0
0      29.020000
1      15.160000
2       9.156667
3      10.926667
4       7.386667
...          ...
16593   0.000000
16594   0.000000
16595   0.003333
16596   0.003333
16597   0.000000

[16598 rows x 1 columns]

In [ ]:
symMean(df,'JP_Sales',3)

              0
0      3.770000
1      4.790000
2      4.626667
3      5.763333
4      5.906667
...         ...
16593  0.000000
16594  0.000000
16595  0.000000
16596  0.000000
16597  0.000000

[16598 rows x 1 columns]

Applying Symmetric median

In [ ]:
def symMedian(df,col,q):
    n=len(df[col])
    y=[]
    for k in range(n):
        if k-((q-1)//2)<0:
            y.append(df[col][k])
            continue
        elif k+((q-1)//2)>=n:
            y.append(df[col][k])
            continue
        else:
            l=int(k-((q-1)/2))
            u=int(k+((q-1)/2))
            vals=[]
            for i in range(l,u+1):
                vals.append(df[col][i])
            middle=len(vals)//2
            mid=sorted(vals)[middle]
            y.append(mid)
    print(pd.DataFrame(y))

In [ ]:
symMedian(df,'Global_Sales',3)

           0
0      82.74
1      40.24
2      35.82
3      33.00
4      31.37
...      ...
16593   0.01
16594   0.01
16595   0.01
16596   0.01
16597   0.01

[16598 rows x 1 columns]

In [ ]:
symMedian(df,'NA_Sales',3)

           0
0      41.49
1      29.08
2      15.85
3      15.75
4      15.75
...      ...
16593   0.01
16594   0.01
16595   0.00
16596   0.00
16597   0.01

[16598 rows x 1 columns]

In [ ]:
symMedian(df,'EU_Sales',3)

           0
0      29.02
1      12.88
2      11.01
3      11.01
4       8.89
...      ...
16593   0.00
16594   0.00
16595   0.00
16596   0.00
16597   0.00

[16598 rows x 1 columns]

In [ ]:
symMedian(df,'JP_Sales',3)

          0
0      3.77
1      3.79
2      3.79
3      3.79
4      4.22
...     ...
16593  0.00
16594  0.00
16595  0.00
16596  0.00
16597  0.00

[16598 rows x 1 columns]

Applying Exponential filter

In [ ]:
def expFil(df,col):
    y=[0]
    n=len(df[col])
    alpha=0.03
    for k in range(1,n):
        #print(k)
        y_k=y[k-1]+alpha*(df[col][k-1]-y[k-1])
        y.append(y_k)
    print(pd.DataFrame(y))

In [ ]:
expFil(df,'Global_Sales')

              0
0      0.000000
1      2.482200
2      3.614934
3      4.581086
4      5.433653
...         ...
16593  0.010000
16594  0.010000
16595  0.010000
16596  0.010000
16597  0.010000

[16598 rows x 1 columns]

In [ ]:
expFil(df,'NA_Sales')

              0
0      0.000000
1      1.244700
2      2.079759
3      2.492866
4      2.890580
...         ...
16593  0.003813
16594  0.003998
16595  0.004179
16596  0.004053
16597  0.003932

[16598 rows x 1 columns]

In [ ]:
expFil(df,'EU_Sales')

              0
0      0.000000
1      0.870600
2      0.951882
3      1.309726
4      1.600734
...         ...
16593  0.002100
16594  0.002037
16595  0.001976
16596  0.001916
16597  0.002159

[16598 rows x 1 columns]

In [ ]:
expFil(df,'JP_Sales')

              0
0      0.000000
1      0.113100
2      0.314007
3      0.418287
4      0.504138
...         ...
16593  0.004094
16594  0.003971
16595  0.003852
16596  0.003736
16597  0.003624

[16598 rows x 1 columns]

# **Applying Data Transformation**

Applying min max standardization

In [ ]:
import numpy as np
def minMax(df,col):
    print((df[col]-np.min(df[col]))/(np.max(df[col])-np.min(df[col])))

In [ ]:
minMax(df,'Global_Sales')

0        1.000000
1        0.486281
2        0.432854
3        0.398767
4        0.379064
           ...
16593    0.000000
16594    0.000000
16595    0.000000
16596    0.000000
16597    0.000000
Name: Global_Sales, Length: 16598, dtype: float64

In [ ]:
minMax(df,'NA_Sales')

0        1.000000
1        0.700892
2        0.382020
3        0.379610
4        0.271632
           ...
16593    0.000241
16594    0.000241
16595    0.000000
16596    0.000000
16597    0.000241
Name: NA_Sales, Length: 16598, dtype: float64

In [ ]:
minMax(df,'EU_Sales')

0        1.000000
1        0.123363
2        0.443832
3        0.379394
4        0.306340
           ...
16593    0.000000
16594    0.000000
16595    0.000000
16596    0.000345
16597    0.000000
Name: EU_Sales, Length: 16598, dtype: float64

In [ ]:
minMax(df,'JP_Sales')

0        0.368885
1        0.666341
2        0.370841
3        0.320939
4        1.000000
           ...
16593    0.000000
16594    0.000000
16595    0.000000
16596    0.000000
16597    0.000000
Name: JP_Sales, Length: 16598, dtype: float64

Applying Mu Sigma Standardiztion

In [ ]:
def muSigma(df,col):
    print((df[col]-np.mean(df[col]))/np.std(df[col]))

In [ ]:
muSigma(df,'Global_Sales')

0        52.864025
1        25.532503
2        22.690025
3        20.876498
4        19.828254
           ...
16593    -0.339194
16594    -0.339194
16595    -0.339194
16596    -0.339194
16597    -0.339194
Name: Global_Sales, Length: 16598, dtype: float64

In [ ]:
muSigma(df,'NA_Sales')

0        50.480508
1        35.284437
2        19.084273
3        18.961823
4        13.476053
           ...
16593    -0.311841
16594    -0.311841
16595    -0.324086
16596    -0.324086
16597    -0.311841
Name: NA_Sales, Length: 16598, dtype: float64

In [ ]:
muSigma(df,'EU_Sales')

0        57.136930
1         6.794188
2        25.197785
3        21.497277
4        17.302048
           ...
16593    -0.290207
16594    -0.290207
16595    -0.290207
16596    -0.270418
16597    -0.290207
Name: EU_Sales, Length: 16598, dtype: float64

In [ ]:
muSigma(df,'JP_Sales')

0        11.938058
1        21.767296
2        12.002724
3        10.353740
4        32.792857
           ...
16593    -0.251492
16594    -0.251492
16595    -0.251492
16596    -0.251492
16597    -0.251492
Name: JP_Sales, Length: 16598, dtype: float64